body.active #menu-main-nav{
    width:40%!important;
    z-index:1;
}
body.active > .body-wrapper{
    margin-left:-40%;
}
body > .body-wrapper{transition:margin-left .5s ease-in-out;width:100%;position: relative;}
.parralax{backface-visibility: hidden;}

.navbar.fixed{margin-left:0;transition:margin-left .5s ease-in-out;}
body.active .navbar.fixed{margin-left:1%;}


.section-title{
    margin:0 0 0 7%;
    font-weight:600;
    text-transform:uppercase;
    color:#000;
    font-size: 59px;
    font-size:3.7rem;
}

section .section-title {
margin-top: -30px;
position: relative;
padding: 0 0 30px 0;
}

.blog-offset .row {
max-width: 85%;
padding:0;
}

.blog-offset .row .columns{margin-bottom:20px!important}


#clients{padding:40px 0}

@media only screen and (max-width: 767px){
.forcefullwidth_wrapper_tp_banner{display:none}
    
}

.footer-nav ul{float:right}
.footer-nav ul li {
float: left;
margin: 0 15px;
font-size:.8rem;
}
.blog-roll{padding-top:105px}
.mt20{margin-top:20px}

.category a {
background:rgba(90, 8, 105, 100);
padding: 0 20px;
border-radius: 20px;
color: #FFF;
}

.tags a{
    background:gray;
    padding:0 10px;
    border-radius:10px;
    color:#fff;
    font-size:.8rem;
}

.member-info h3{
    font-weight:800;
}
.member-info .title{display:block;font-size:.5em;color:#60045c}