body.active #menu-main-nav{
    width:40%!important;
    z-index:1;
}
body.active > .body-wrapper{
    margin-left:-40%;
}
body > .body-wrapper{transition:margin-left .5s ease-in-out;width:100%;position: relative;}
.parralax{backface-visibility: hidden;}

.navbar.fixed{margin-left:0;transition:margin-left .5s ease-in-out;}
body.active .navbar.fixed{margin-left:1%;}

