/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/
.navbar.fixed + *:not(.fancybox-overlay-fixed){margin-top:60px}

.blog-offset .row .columns{margin-bottom:20px!important}

.relative {
    position:relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display:table;
    width:100%;
    z-index:2;
}

.middlecenter {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    height: 300px;
    top: 0;
    bottom: 0;
} 

.realtive .hide{display: none;opacity: 0;}

.relative:hover .hide{display:block!important;-webkit-transition: opacity 1s ease-out!important;opacity: 1!important;}

.relative:hover .excerpt  p {
    -webkit-transition: all .5s ease-out;
    background: rgba(138, 138, 138, 0.95);
}

.relative:hover .middlecenter {
    z-index: -1;
    display:none;
} 


.excerpt {
    height: 100%;
    width: 100%;
    display:table-cell;
    z-index:3;
    position:relative;
}

.excerpt p {
    font-size: .95em;
    margin:0;
    padding:0 20px;
    color: #FFF;
    display: table-cell;
    vertical-align:middle;
    height:300px;
}

.slide{height:600px;}

.relative img {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.date {
    padding: 0 20px;
    font-size: 1.8em;
    color: #FFF;
    font-weight: 800;
}


.relative .btn{    position:absolute;
    bottom:5px;
    right:5px;
    z-index:4;
}

.relative .btn span {
    color: #FFF;
}
.table-wrapper{display:table;width:100%}
.bg {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    background-position:fixed;
    background-origin:fixed;
}

.downarrow {
text-align: center;
font-size: 60px;
position: relative;
top: -40px;
z-index: 20;
margin-bottom: -21px;
}

.downarrow a,.downarrow a:hover{
color:#fff;
color:rgba(255,255,255,.25);
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


h1.title {
font-family: 'Fira Sans', sans-serif;
font-weight: 600;
color: #FFF;
font-size: 1.78em;
text-align: center;
}

.post-info{
    padding:20px;
    margin:20px;
    background:rgba(90, 8, 105, 0.5);
    border:5px solid #fff;
}
.post-info .date{
    font-family: 'Fira Sans', sans-serif;
font-weight: 100;
color: #FFF;
font-size: 1em;
text-align: center;}



#hero {
  position: relative;
  overflow: hidden;
   min-height:500px;
}

#hero .valign {
z-index: 11;
position: relative;
height: 100%;
}


#hero-bg {
position: absolute;
top: -100%;
right: 0;
bottom: -100%;
left: 0;
background-attachment:fixed;
background-position: 50% 50%;
background-size: cover;
width: 100%;
-webkit-transform: translateZ(0);
}


.member a img{
    -webkit-filter:grayscale(100%);
    transition: all ease-in-out .5s;
    
}
.member:hover a img, .member.hover a img{
     -webkit-filter:grayscale(50%);
}

.active.member a img {
    -webkit-filter:grayscale(0);
    
}
