// Fade Mixin

$fade-duration: .6s;

@mixin fade($direction: out, $duration: $fade-duration) {

  @if $direction != out {
    visibility: visible;
    @include opacity(1);
  }

  @else {
    visibility: hidden;
    @include opacity(0);
  }

  @include transition-property(opacity);
  @include transition-duration($fade-duration);

}

@mixin ingenex_grad(){
    
// needs latest Compass, add '@import "compass"' to your scss
background-color: #6e6d6d; // Old browsers
@include filter-gradient(#6e6d6d, #24b24b, horizontal); // IE6-8
// IE9 SVG, needs conditional override of 'filter' to 'none'
$experimental-support-for-svg: true;
@include background-image(linear-gradient(left,  #6e6d6d 0%,#6e6d6d 28%,#5d1c5a 28%,#5d1c5a 71%,#24b24b 71%,#24b24b 100%));

}