
footer:after{
    content:'';
    width:100%;
    display:block;
    height:5px;
    overflow:auto;
	@include ingenex_grad();
}







#wpadminbar{display:none!important}

html.js {
margin-top: 0px !important;
}


form button:focus{outline:none}
.slide{min-height:600px;background:gray}
.pin-item{
    @include fancytiles(3,2,1, $min-device-width, '600px', $row-max-width);
}
.clients{
    @include fancytiles(3,2,1, $min-device-width, '600px', $row-max-width);
}

.button-wrapper {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#hero h1 {
color: #FFF;
@include font-size(60px);
}
#hero .valign {
min-height: 420px;
}

.valign {
display: table;
width: 100%;
}
.valign>div {
display: table-cell;
vertical-align: middle;
}

.center {
text-align: center;
}

#hero.shadow{
    box-shadow: inset 0px 65px 20px -60px #000,inset 0px -65px 20px -60px #000;
    img{
        box-shadow: .1rem .1rem 0.4rem #000;
    }
    p,li,ul,h1,,h2,h3,h4,h5,h6,blockquote{
       text-shadow:.1rem .1rem 0.4rem #000;
    }
}

.screen-reader-text{
    position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}
#menu-top-nav li {
display: inline-block;
float: right;
padding: 0 10px;
@include font-size(13px);
    a {color:$navbar-link-color;}
}
#hero + .row section{min-height:0px;}
//slideout nav   
#menu-main-nav {
    @include respond(all-phones) {
        position: fixed;
        display: block;
        width: 0!important;
        top: 0;
        z-index: -1;
        right: 0;
        float:right;
        min-height: 100%;
        left: auto;
        transition: .5s ease-in-out;
    }
}

#pin-cats a.badge{background-color:$secondary-color!important}
#pin-cats a.active{background-color:$primary-color!important}

.members{}

.members .tab-nav>li>a {
    padding:0;
    border:0;
    height:100%;
}

.members .tab-nav>li {
width: 25%;
margin:0;
}
.member img{
    padding: 0;
margin: 0;
outline: none;
border: none;
vertical-align: top;
}
.members .tab-nav{font-size:0px}


.page-template-templatesabout-template-php .rev_slider{
-webkit-box-shadow: inset -31px -185px 187px -145px rgba(0,0,0,0.75);
-moz-box-shadow: inset -31px -185px 187px -145px rgba(0,0,0,0.75);
    box-shadow: inset -31px -185px 187px -145px rgba(0,0,0,0.75);}

.page-template-templatesabout-template-php,.page-template-templatesclient-template-php{margin:-20px 0 0 0}

a.post-edit-link {
position: fixed;
left: 20px;
bottom: 10px;
border: 1px solid #919191;
border-radius: 5px;
background: #E0E0E0;
font-size: 1.5em;
padding: 5px;
color: #333;
}

ul.horizontal-list li{display:inline-block}
.member-info{position:relative;padding:0 0 20px 0}
.social-links{position:absolute;bottom:0;right:0}

.relative{position:relative}

.relative {
    position:relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display:table;
    width:100%;
    z-index:2;
}

.middlecenter {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    height: 300px;
    top: 0;
    bottom: 0;
    padding: 0 20px;
} 

.relative:hover .hide{display:block!important;-webkit-transition: opacity 1s ease-out!important;opacity: 1!important;}

.relative:hover .excerpt  p {
    -webkit-transition: all .5s ease-out;
    background: rgba(138, 138, 138, 0.95);
}

.relative:hover .middlecenter {
    z-index: -1;
    display:none;
} 


.excerpt {
    height: 100%;
    width: 100%;
    display:table-cell;
    z-index:3;
    position:relative;
}

.excerpt p {
    font-size: .95em;
    margin:0;
    padding:0 20px;
    color: #FFF;
    display: table-cell;
    vertical-align:middle;
    height:300px;
}

.hide{display: none;opacity: 0;}

.slide{height:600px;}

.relative img {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.date {
    padding: 0 20px;
    font-size: 1.8em;
    color: #FFF;
    font-weight: 800;
}


.relative .btn{    position:absolute;
    bottom:5px;
    right:5px;
    z-index:4;
}

.relative .btn span {
    color: #FFF;
}
.table-wrapper{display:table;width:100%}
.bg {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    background-position:fixed;
    background-origin:fixed;
}

.downarrow {
    text-align: center;
    font-size: 60px;
    position: relative;
    top: -40px;
    z-index: 20;
    margin-bottom: -21px;
}

.downarrow a,.downarrow a:hover{
    color:#fff;
    color:rgba(255,255,255,.25);
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #6e6d6d;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}


h1.title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    color: #FFF;
    font-size: 1.78em;
    text-align: center;
    text-transform: uppercase;
}

.post-info{
    padding:20px;
    margin:20px auto;
    background:rgba(90, 8, 105, 0.5);
    border:5px solid #fff;
    max-width:400px;
}
.post-info .date{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    color: #FFF;
    font-size: 1em;
    text-align: center;}



#hero {
    position: relative;
    overflow: hidden;
    min-height:500px;
}

#hero .valign {
    z-index: 11;
    position: relative;
    height: 100%;
}


#hero-bg {
    position: absolute;
    top: -100%;
    right: 0;
    bottom: -100%;
    left: 0;
    background-attachment:fixed;
    background-position: 50% 0;
    background-size: cover;
    width: 100%;
    -webkit-transform: translateZ(0);
}


.member a img{
    transition: all ease-in-out .5s;

}
.member:hover a img, .member.hover a img{
    -webkit-filter:grayscale(50%);
}

.active.member a img {
    -webkit-filter:grayscale(100%);

}

/* CREATING FULL WIDTH BOXES */
.full-width .third{width:33.33333333%}
.full-width .box{float:left;padding:20px;}
.full-width .third:last-of-type, .full-width .third.last{float:right;padding-right:0}
.full-width .third:first-of-type, .full-width .third.first{padding-left:0;}

.box div{background:rgba(255,255,255,.65);text-align:center;padding:10px;min-height:320px}
.box h2{
    background:rgba(80, 9, 77, 0.65);
    border:4px solid #FFFFFF;
    font-weight:800;
    color:#FFFFFF;
    margin:10px 20px;
    text-transform:uppercase;
    font-size: 30px;
    font-size: 1.8em;
}
.box p{text-align:left;padding:10px 20px;color:#000;}


a.cta{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #FFF;
    border: 5px solid #FFF;
    text-align: center;
    display: inline-block;
    padding: 10px;
    min-width: 280px;
}

#intro{padding:50px 20px}

#intro blockquote {
    color: #000;
    margin: 0 0 18px;
    font-size: 3.3em;
    line-height: 1.2;
    text-align: left;
    padding: 100px 7.5%;
    border:none;
    font-weight: 600;
    font-style: italic;
    quotes: "\201C""\201D""\2018""\2019";
}

#intro blockquote cite{text-align:right;}

img.hero-overlay {
    position: relative;
    width: 100%;
    vertical-align: bottom;
}

#cta{background:#5d1c5a;}
.cta-section h3{
    color: #FFF;
    margin: 50px 0 0 0;
    font-size: 3.3em;
    line-height: 1.2;
    padding:30px 8%;
    border:none;
    font-weight: 600;
    text-transform:uppercase;
    
}
.cta-section a.cta.right{float:right;margin-right:15%}
.cta-section a.cta.left{float:left;margin-left:8%}
a.cta{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #FFF;
    border: 5px solid #FFF;
    text-align: center;
    display: inline-block;
    padding: 10px;
    min-width: 280px;
    max-width:400px;
    background: rgba(80, 9, 77, 0.65);
}
